<% if @activities.any? %>
<div class="h1 text-primary">Activities</div>
<div class="container">
  <% @activities.each do |activity| %>
    <%= link_to activity.title, activity, class: "h1 text-decoration-bone" %>
    <div><%= link_to "View", activity %></div>
  <% end %>
</div>
<% end %>
<br>

<% if user_signed_in? %>
  <%= link_to 'New Activity', new_activity_path %>
<% end %>

