<div class="border">
  <div class="container-fluid">
    <nav class="d-flex justify-content-center">
      <div class="d-flex">
        <%= link_to "Home", root_path, class: "fs-5 p-2 text-decoration-none" %>
        <%= link_to "Activities", activities_path, class: "fs-5 p-2 text-decoration-none" %>
        <div class="fs-5 p-2">Projects</div>
        <div class="fs-5 p-2">Blogs</div>
        <%= link_to "About", about_index_path, class: "fs-5 p-2 text-decoration-none" %>
      </div>
    </nav>
  </div>
</div>